@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@media (min-width: 769px) {
    .carousel-container {
      display: none;
    }
  }
  
  .carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 20px;
  }
  
  .carousel-slide {
    text-align: center;
  }
  
  .slide-image {
    width: 320px; 
    height: auto;
    margin-bottom: 20px;
  }
  
  .slide-text {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    color: #333;
  }
  
  .dots {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: rgba(36, 176, 172, 1);
  }
  
  .next-button {
    background-color: rgba(36, 176, 172, 1);
    color: white;
    border: none;
    padding: 15px 30px; 
    font-size: 18px; 
    border-radius: 20px; 
    cursor: pointer;
  }
  
  .next-button:hover {
    background-color: rgba(36, 176, 172, 0.8);
  }
  